h1 {
  font-family: Georgia, serif;
  text-align: center;
  color: #303030
}
header {
  text-align: center;
  font-family:"Courier New", Courier, monospace;
  font-size: 20px
}
.peru-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color:white;
}
.canada-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color:white;
}
.taiwan-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  background-color:white;
}
.spain-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color:white;
}
.japan-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color:white;
}
.nyc-container {
  border: 3px solid white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color:white;
}
.image-in-container {
  height: 300px;
  width: 200px;
  border: 5px solid white;
  object-fit: cover;
}
.image-in-canada {
  height: 250px;
  width: 250px;
  border: 5px solid white;
  object-fit: cover;
}
.image-in-taiwan {
  height:260px;
  width:240px;
  border: 5px solid white;
  object-fit:cover;
}
.image-in-spain {
  height: 300px;
  width: 230px;
  border: 5px solid white;
  object-fit: cover;
}
.image-in-japan {
  height: 250px;
  width: 225px;
  border: 5px solid white;
  object-fit: cover;
}
.image-in-nyc {
  height: 260px;
  width: 230px;
  border: 5px solid white;
  object-fit:cover;
}
@media only screen and (max-width:600px) {
    .peru-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width:600px) {
    .canada-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width:600px) {
    .taiwan-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width:600px) {
    .japan-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width:600px) {
    .spain-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
@media only screen and (max-width:600px) {
    .nyc-container {
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
}
